<section class="bg-sec d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="text-center">
      <app-star [titleStar]="title" [customColor]="lineClr"></app-star>
    </div>
    <div class="row mt-3">
      <div class="col-md-6 text-start text-white">
        <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
          including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
      </div>
      <div class="col-md-6 text-start text-white">
        <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
          including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
      </div>
    </div>
  </div>
</section>