<nav [class]="{'p-4':!isScrolling}" class="navbar fixed-top navbar-expand-md bg-main">
  <!-- [class.p-4]="!isScrolling" -->
  <div class="container">
    <a class="navbar-brand fs-2 fw-bold text-uppercase" routerLink="/about">Start Framework</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-uppercase m-2" routerLink="/about" routerLinkActive="active-link">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase m-2 " routerLink='/portfolio' routerLinkActive="active-link">Portfolio</a>
        </li>
        <li class=" nav-item">
          <a class="nav-link text-uppercase m-2 " routerLink="/contact" routerLinkActive="active-link">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>