<footer class="bg-main text-white py-5">
  <div class="container">
    <div class="row g-3 text-center py-5">
      <div class="col-md-4 ">
        <h3 class="m-2">LOCATION</h3>
        <p class="m-2">2215 John Daniel Drive</p>
        <p class="m-2">Clark, MO 65243</p>
      </div>
      <div class="col-md-4 ">
        <h3 class="m-2">AROUND THE WEB</h3>
        <ul class="list-unstyled d-flex justify-content-center align-items-center">
          <li><i class="fa-brands fa-facebook m-2"></i></li>
          <li><i class="fa-brands fa-twitter m-2"></i></li>
          <li><i class="fa-brands fa-linkedin m-2"></i></li>
          <li><i class="fa-solid fa-globe m-2"></i></li>
        </ul>
      </div>
      <div class="col-md-4 ">
        <h3>ABOUT FREELANCER</h3>
        <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
      </div>
    </div>
  </div>
</footer>
<div class="copy text-center">
  <p class="p-0 m-0">Copyright © Your Website 2021</p>
</div>